<tr id='todo-row-<%= todo.id %>'>
  <td><input id='todo-complete-<%= todo.id %>' <%= todo.completed ? "checked" : "" %> class='complete-checkbox' type='checkbox' name='todos[<%= todo.id %>][complete]'/></td>
  <td>
    <span id='todo-<%= todo.id %>'><%= todo.description%></span>
    <span id='todo-<%= todo.id %>-editor' style='display:none'></span>
  </td>
  <td>
    <a id='todo-edit-<%= todo.id %>' class='edit-todo-link' href='#' title='Edit todo'><span class='icon-pencil'></span></a>
    <% if(todo.tickler == true) { %>
      <a id='todo-tickler-<%= todo.id %>' class='toggle-tickler-status-link' href='#' title='Remove from tickler'>
        <span class='icon-arrow-left'></span>
      </a>
    <% } else { %>
      <a id='todo-tickler-<%= todo.id %>' class='toggle-tickler-status-link' href='#' title='Move to tickler'>
        <span class='icon-arrow-right'></span>
      </a>
    <% } %>
    <a class='defer-link' href='#' title='Defer Todo'><span class='icon-time'></span></a>
    <a id='todo-delete-<%= todo.id %>' class='delete-todo-link' href='#' title='Delete todo'><span class='icon-remove'></span></a>
  </td>
</tr>
