<tr class='todo-row' id='todo-row-<%= todo.id %>' data-todo_id='<%= todo.id %>'>
  <td class='main'>
    <% if (!todo.completed) { %>
      <span class='ui-icon ui-icon-grip-dotted-vertical gripper' todo-gripper></span>
      <% } %>
    <input id='todo-complete-<%= todo.id %>' <%= todo.completed ? "checked" : "" %> class='complete-checkbox' type='checkbox' name='todos[<%= todo.id %>][complete]'/>
    <span id='todo-<%= todo.id %>' class='js-description'><%= todo.description%></span>
    <span id='todo-<%= todo.id %>-editor' style='display:none'></span>
  <td class='actions'>
    <% if(todo.tickler == true) { %>
      <a id='todo-tickler-<%= todo.id %>' class='toggle-tickler-status-link action' href='#' title='Remove from tickler'>
        <span class='glyphicon glyphicon-arrow-left'></span>
      </a>
    <% } else { %>
      <a id='todo-tickler-<%= todo.id %>' class='toggle-tickler-status-link action' href='#' title='Move to tickler'>
        <span class='glyphicon glyphicon-arrow-right'></span>
      </a>
    <% } %>
    <a id='todo-edit-<%= todo.id %>' class='edit-todo-link action' href='#' title='Edit todo'>
      <span class='glyphicon glyphicon-pencil'></span>
    </a>
    <a id='todo-delete-<%= todo.id %>' class='delete-todo-link action' href='#' title='Delete todo'>
      <span class='glyphicon glyphicon-remove'></span>
    </a>
  </td>
</tr>
