<script type='text/javascript'>

  $(document).ready(function()
  {
    var initial_data = {
      active_todos    : <%= @active_todos.to_json.html_safe %>,
      completed_todos : <%= @completed_todos.to_json.html_safe %>,
      contexts        : <%= @contexts.to_json.html_safe %>,
      projects        : <%= @projects.to_json.html_safe %>,
      tags            : <%= @tags.to_json.html_safe %> 
    };
    MethodTodo.init(initial_data);
  });
</script>

<div class='row hidden-phone'>
  <div id='help-container' class='span8'>
    <%= render :partial => 'frontpage/help_box', :locals => {:show_help => @show_help } %>
  </div>
  <div class='span2 offset2'>
    <strong>Welcome, <%= current_user.username %></strong>
  </div>
</div>

<div class='tabbable'>

  <ul class='nav nav-pills' id='dropdowns-bar'>
    <li id='all-todos-button-navitem'  class='active'>
      <a id='all-todos-button' href='#todos-list' data-toggle='tab'>All</a>
    </li>

    <li class='dropdown' id='context-dropdown-navitem'>
      <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
        Context<b class='caret'></b>
      </a>
      <ul class='dropdown-menu'>
      </ul>
    </li> <!-- dropdown #context-dropdown-navitem -->

    <li class='dropdown' id='project-dropdown-navitem'>
      <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
        Project<b class='caret'></b>
      </a>
      <ul class='dropdown-menu'>
      </ul>
    </li> <!-- dropdown #context-dropdown-navitem -->

    <li class='dropdown' id='tag-dropdown-navitem'>
      <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
        Tag<b class='caret'></b>
      </a>
      <ul class='dropdown-menu'>
      </ul>
    </li> <!-- dropdown #tag-dropdown-navitem -->


  </ul> <!-- nav-tabs #contexts-projects -->

  <ul class='nav nav-tabs'>
    <li class='active'>
      <a href='#active-todos-list' id='active-tab'>Active</a>
    </li>
    <li>
      <a href='#completed-todos-list' id='completed-tab'>Completed</a>
    </li>
  </ul> <!-- nav-tabs #active-completed -->

  <div class='tab-content'>

    <div id='active-todos-list' class='tab-pane active'>
      <%= render :partial => 'todos/todolist', :locals => {:todos => @active_todos } %>
    </div> <!-- todos-list -->

    <div id='completed-todos-list' class='tab-pane'>
      <%= render :partial => 'todos/todolist', :locals => {:todos => @completed_todos } %>
    </div> <!-- completed-todos -->

  </div> <!-- tab-content -->

</div> <!-- tabbable -->

<div class='modal' id='delete-todo-modal' style='display:none'>
  <span id='delete-todo-id' style='display:none'></span>
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Delete Todo?</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this todo?</p>
  </div>

  <div class="modal-footer">
    <a id='close-delete-todo-modal' href="#" class="btn">Close</a>
    <a id='delete-todo-button' href="#" class="btn btn-primary">Delete</a>
  </div>
</div>
