<script type='text/javascript'>

  $(document).ready(function()
  {
    var initial_data = {
      active_todos    : <%= @active_todos.to_json.html_safe %>,
      completed_todos : <%= @completed_todos.to_json.html_safe %>,
      tickler_todos   : <%= @tickler_todos.to_json.html_safe %>,
      contexts        : <%= @contexts.to_json.html_safe %>,
      projects        : <%= @projects.to_json.html_safe %>,
      tags            : <%= @tags.to_json.html_safe %>,
      show_help       : <%= @show_help.to_json %>
    };

    MethodTodo.init(initial_data);
  });
</script>

<div class='row todos-filter-dropdowns'>
  <ul class='pull-left nav nav-pills' id='dropdowns-bar'>
    <li id='all-todos-button-navitem'  class='active'>
      <a id='all-todos-button' href='#todos-list' data-toggle='tab'>All</a>
    </li>

    <li class='dropdown' id='context-dropdown-navitem'>
      <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
        Context<b class='caret'></b>
      </a>
      <ul class='dropdown-menu'>
      </ul>
    </li> <!-- dropdown #context-dropdown-navitem -->

    <li class='dropdown' id='project-dropdown-navitem'>
      <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
        Project<b class='caret'></b>
      </a>
      <ul class='dropdown-menu'>
      </ul>
    </li> <!-- dropdown #context-dropdown-navitem -->

    <li class='dropdown' id='tag-dropdown-navitem'>
      <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
        Tag<b class='caret'></b>
      </a>
      <ul class='dropdown-menu'>
      </ul>
    </li> <!-- dropdown #tag-dropdown-navitem -->
  </ul> <!-- nav-tabs #contexts-projects -->
  <div class='pull-left'>
    <span id='filter'>Showing: All Todos</span>
  </div>
</div>

<div class='row'>
  <div id='help-container' class='col-md-8'>
    <div id='help-box' class='well' style='display:none'>
      <h3>How do it work?</h3>
      <div>Use symbols in the description of your todo to organize them for later sorting:</div>
      <ul style='list-style:none'>
        <li><strong>@</strong> &mdash; Assign the todo to a Context, e.g., <strong>@home</strong> or <strong>@work</strong></li>
        <li><strong>+</strong> &mdash; Assign the todo to a Project, e.g., <strong>+research-paper</strong></li>
        <li><strong>#</strong> &mdash; Assign the todo to a Tag, e.g., <strong>#purchases</strong></li>
        <li>Click a <a class='label label-default' href='javascript:void(0)'>badge</a> to filter the list or use the dropdowns below</li>
      </ul>
      <a id='dismiss-help' href='#'>Dismiss this</a>
    </div>
  </div>
</div>

<div class='row todo-tabs'>
  <ul class='nav nav-tabs'>
    <li class='active'>
      <a href='#active-todos-list' id='active-tab'>Active</a>
    </li>
    <li>
      <a href='#completed-todos-list' id='completed-tab'>Completed</a>
    </li>
    <li>
      <a href='#tickler-todos-list' id='tickler-tab'>Tickler</a>
    </li>
  </ul> <!-- nav-tabs #active-completed -->
</div>

<div class='row tab-content'>
  <div id='active-todos-list' class='tab-pane active'>
    <%= render :partial => 'todos/todolist', :locals => {:todos => @active_todos } %>
  </div> <!-- todos-list -->

  <div id='completed-todos-list' class='tab-pane'>
    <%= render :partial => 'todos/todolist', :locals => {:todos => @completed_todos } %>
  </div> <!-- completed-todos -->

  <div id='tickler-todos-list' class='tab-pane'>
    <%= render :partial => 'todos/todolist', :locals => {:todos => @tickler_todos } %>
  </div> <!-- tickler-todos -->

</div> <!-- tab-content -->

<%= render :partial => 'delete_todo_modal' %>

<div class='modal fade' id='manage-filters-modal'></div>

<script>
$('.todo-list-table').sortable(
    { axis: 'y', items: 'tr', placeholder: 'todo-row-placeholder', handle: '[todo-gripper]' })
  .on('sort', function(event, ui) {
    ui.helper.find('.main').width(
      ui.placeholder.width() - ui.helper.find('.actions').width() - 10);
  });
</script>
