<script type='text/template' id='context-navitem-template'>
<li>
  <a href='#' class='context-dropdown-item' id='context-link-<%%= context.id%>'>@<%%= context.name %></a>
</li>
</script>

<script type='text/template' id='project-navitem-template'>
<li>
  <a href='#' class='project-dropdown-item'  id='project-link-<%%= project.id%>'>+<%%= project.name %></a>
</li>
</script>

<script type='text/template' id='todo-table-row-template'>
<tr id='todo-row-<%%= todo.id %>'>
  <td><input id='todo-complete-<%%= todo.id %>' class='complete-checkbox' type='checkbox' name='todos[<%%= todo.id %>][complete]'/></td>
  <td><span id='todo-<%%= todo.id %>'><%%= todo.description%></span></td>
  <td><a id='todo-delete-<%%= todo.id %>' class='delete-todo-link' href='#'>[x]</a></td>
</tr>
</script>

<script type='text/javascript'>
$(document).ready(
    function(event)
    {
      todo_input = new TodoInput({collection : ActiveTodos});
      todo_input.render();

      dropdowns_bar = new DropdownsBar();

      ActiveTodos.reset(<%= @active_todos.to_json.html_safe %>);
      active_todo_table = new TodoTable({collection : ActiveTodos, el : '#active-todos-list'});
      active_todo_table.render();

      CompletedTodos.reset(<%= @completed_todos.to_json.html_safe %>);
      completed_todo_table = new TodoTable({collection : CompletedTodos, el : '#completed-todos-list' });
      completed_todo_table.render();

      Contexts.reset(<%= @contexts.to_json.html_safe %>);
      context_dropdown = new ContextDropdown({collection : Contexts});
      context_dropdown.render();

      Projects.reset(<%= @projects.to_json.html_safe %>);
      project_dropdown = new ProjectDropdown({collection : Projects})
      project_dropdown.render();
    }
);
</script>

<div class='row hidden-phone'>
  <div class='span2 offset10'>
    <strong>Welcome, <%= current_user.username %></strong>
  </div>
</div>

<div class='tabbable'>

  <ul class='nav nav-pills' id='dropdowns-bar'>
    <li id='all-todos-button-navitem'  class='active'>
      <a id='all-todos-button' href='#todos-list' data-toggle='tab'>All</a>
    </li>

    <li class='dropdown' id='context-dropdown-navitem'>
      <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
        Context
        <b class='caret'></b>
      </a>
      <ul class='dropdown-menu'>
      </ul>
    </li> <!-- dropdown #context-dropdown-navitem -->

    <li class='dropdown' id='project-dropdown-navitem'>
      <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
        Project
        <b class='caret'></b>
      </a>
      <ul class='dropdown-menu'>
      </ul>
    </li> <!-- dropdown #context-dropdown-navitem -->

  </ul> <!-- nav-tabs #contexts-projects -->

  <ul class='nav nav-tabs'>
    <li class='active'>
      <a href='#active-todos-list' id='active-tab'>Active</a>
    </li>
    <li>
      <a href='#completed-todos-list' id='completed-tab'>Completed</a>
    </li>
  </ul> <!-- nav-tabs #active-completed -->

  <div class='tab-content'>

    <div id='active-todos-list' class='tab-pane active'>
      <%= render :partial => 'todos/todolist', :locals => {:todos => @active_todos } %>
    </div> <!-- todos-list -->

    <div id='completed-todos-list' class='tab-pane'>
      <%= render :partial => 'todos/todolist', :locals => {:todos => @completed_todos } %>
    </div> <!-- completed-todos -->

  </div> <!-- tab-content -->

</div> <!-- tabbable -->

<div class='modal' id='delete-todo-modal' style='display:none'>
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Delete Todo?</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this todo?</p>
  </div>

  <div class="modal-footer">
    <a id='close-delete-todo-modal' href="#" class="btn">Close</a>
    <a id='delete-todo-button' href="#" class="btn btn-primary">Delete</a>
  </div>
</div>
