<script type='text/javascript'>

  $(document).ready(function()
  {
    var initial_data = {
      active_todos    : <%= @active_todos.to_json.html_safe %>,
      completed_todos : <%= @completed_todos.to_json.html_safe %>,
      tickler_todos   : <%= @tickler_todos.to_json.html_safe %>,
      contexts        : <%= @contexts.to_json.html_safe %>,
      projects        : <%= @projects.to_json.html_safe %>,
      tags            : <%= @tags.to_json.html_safe %>
    };

    MethodTodo.init(initial_data);
  });
</script>

<div class='row'>
  <div class='col-md-2'>
    <strong><span id='filter'>Showing: All Todos</span></strong>
  </div>
  <div id='help-container' class='col-md-8'>
    <%= render :partial => 'frontpage/help_box', :locals => {:show_help => @show_help } %>
  </div>
  <div class='col-md-2'>
    <strong>Welcome, <%= current_user.username %></strong>
  </div>
</div>

<div class='row todos-filter-message'>
</div>

<div class='row todos-filter-dropdowns'>
  <ul class='nav nav-pills' id='dropdowns-bar'>
    <li id='all-todos-button-navitem'  class='active'>
      <a id='all-todos-button' href='#todos-list' data-toggle='tab'>All</a>
    </li>

    <li class='dropdown' id='context-dropdown-navitem'>
      <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
        Context<b class='caret'></b>
      </a>
      <ul class='dropdown-menu'>
      </ul>
    </li> <!-- dropdown #context-dropdown-navitem -->

    <li class='dropdown' id='project-dropdown-navitem'>
      <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
        Project<b class='caret'></b>
      </a>
      <ul class='dropdown-menu'>
      </ul>
    </li> <!-- dropdown #context-dropdown-navitem -->

    <li class='dropdown' id='tag-dropdown-navitem'>
      <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
        Tag<b class='caret'></b>
      </a>
      <ul class='dropdown-menu'>
      </ul>
    </li> <!-- dropdown #tag-dropdown-navitem -->
  </ul> <!-- nav-tabs #contexts-projects -->
</div>

<div class='row todo-tabs'>
  <ul class='nav nav-tabs'>
    <li class='active'>
      <a href='#active-todos-list' id='active-tab'>Active</a>
    </li>
    <li>
      <a href='#completed-todos-list' id='completed-tab'>Completed</a>
    </li>
    <li>
      <a href='#tickler-todos-list' id='tickler-tab'>Tickler</a>
    </li>
  </ul> <!-- nav-tabs #active-completed -->
</div>

<div class='row tab-content'>
  <div id='active-todos-list' class='tab-pane active'>
    <%= render :partial => 'todos/todolist', :locals => {:todos => @active_todos } %>
  </div> <!-- todos-list -->

  <div id='completed-todos-list' class='tab-pane'>
    <%= render :partial => 'todos/todolist', :locals => {:todos => @completed_todos } %>
  </div> <!-- completed-todos -->

  <div id='tickler-todos-list' class='tab-pane'>
    <%= render :partial => 'todos/todolist', :locals => {:todos => @tickler_todos } %>
  </div> <!-- tickler-todos -->

</div> <!-- tab-content -->

<%= render :partial => 'delete_todo_modal' %>

<div class='modal fade' id='manage-filters-modal'></div>
