<% if user_signed_in? %>
  <div class='row hidden-phone'>
    <div class='span2 offset10'>
      <strong>Welcome, <%= current_user.username %></strong>
    </div>
  </div>

  <div class='row'>
    <div class='span8'>
      <%= form_for @todo, {:controller => 'todo', :action => 'create'} do |f| %>
        <%= f.text_field :description %>
        <%= f.submit "Add Todo" %>
      <% end %>
    </div>
  </div>

  <div id='todos-list' class='row'>
    <table class='table-bordered table-striped span8'>
      <thead>
        <tr>
          <th class='span1'>Complete</th>
          <th class='span6'>Task</th>
          <th class='span1'>Delete</th>
        </tr>
      </thead>
      <% current_user.active_todos.each do |todo| %>
        <tr>
          <td class='span1'><input id='todo-complete-<%= todo.id %>' class='complete-checkbox' type='checkbox' name='todos[<%= todo.id %>][complete]'/></td>
          <td class='span6'><span id='todo-<%= todo.id %>'><%= todo.description %></span></td>
          <td class='span1'><a href='#'>[x]</a></td>
        </tr>
      <% end %>
    </table>
  </div>

<% end %>
