<!DOCTYPE html>
<html>
  <head>
    <title>MethodGtd</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%= render 'layouts/login_signup' %>

    <div class='container-fluid'>
      <% unless flash.empty? %>
        <div class='row-fluid'>
          <div class='span4'>
            &nbsp;
          </div>
          <div class='span4'>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
          </div>
        </div>
      <% end %>

      <div class='row-fluid'>
        <div class='span4'>
          &nbsp;
        </div>
        <div class='span8'>
          <%= yield %>
        </div>
      </div>

    </div> <!-- .container-fluid -->
  </body>
</html>
