<!DOCTYPE html>
<html>
  <head>
    <title>Method Todo</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>

    <nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
      <div class='container' id='add-todo-area'>
        <% if current_user %>
          <%= form_for Todo.new,
            controller: 'todo', action: 'create',
            html: {class: 'navbar-left navbar-form add-todo-input', role: 'search'} do |f| %>
            <button id='add-todo-button' class='btn btn-default'>
              <span class='glyphicon glyphicon-plus'></span>
              Todo
            </button>

            <div class='form-group'>
              <%= f.text_field :description, :div => false, class: 'form-control' %>
            </div>
          <% end %>
        <% end %>

        <ul class='nav navbar-nav navbar-right'>
          <li>
            <div id='spinner' style='width: 50px; margin-top: 25px; float:left; margin-right: 10px'></div>
          </li>
          <li>
            <span class='welcome'>
              <% if current_user %>
                Welcome, <%= current_user.username %>
              <% else %>
                Welcome!
              <% end %>
            </span>
          </li>
          <li><a id='show-help-box' href='#'>Show help</a></li>
        </ul>
      </div>
    </nav>

    <div class='container main-content'>
      <% unless flash.empty? %>
        <div class='row'>
          <div class='col-md-4 col-md-offset-4'>
            <% if notice %>
              <p class="alert alert-info"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class='row'>
        <%= yield %>
      </div>
    </div> <!-- .container -->

    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class='container'>
        <div class='navbar-header'>
          <a class='navbar-brand' href='/'>Method Todo</a>
        </div>

        <ul class='nav navbar-nav navbar-right'>
          <% if user_signed_in? %>
            <li><a href='/account'>Account</a></li>
            <li><%= link_to('Logout', destroy_user_session_path, {:method => :delete}) %></li>
          <% else %>
            <li><%= link_to('Login', new_user_session_path, {:id => 'login-link'})  %></li>
            <li><%= link_to('Signup', new_user_registration_path, {:id => 'signup-link'})  %></li>
          <% end %>
        </ul>
      </div>
    </div> <!-- .navbar-fixed-bottom -->

  </body>
</html>
