<!DOCTYPE html>
<html>
  <head>
    <title>MethodGtd</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name='viewport' content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>

    <div class='hidden-phone' style='padding-bottom: 17px; margin: 18px 0;'>
      &nbsp;
    </div>

    <%= render 'layouts/login_signup' %>

    <div class='container'>
      <% unless flash.empty? %>
        <div class='row'>
          <div class='span4 offset4'>
            <% if notice %>
              <p class="alert alert-info"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-error"><%= alert %></p>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class='row'>
          <%= yield %>
      </div>

    </div> <!-- .container -->
  </body>
</html>
